* {
    margin: 0;
    padding: 0;
}
html,body {
    width: 100%;
    height: 100%;
}
.swiper-container {
    width: 100%;
    height: 100%;
}
.view {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.view.special {
    background-image: linear-gradient(60deg,#f8ddd1,#faece5 73%,#fad2c0);   /* 背景线性渐变 */
}
.moon {
    position: absolute;
    width: 283px;
    height: 283px;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url(http://s5.music.126.net/static_public/5c21db8d4684556c72180904/sun.a3f575ae2fef2cfdae15011e6081a094.png);
    background-size: 100%;
}
.art {
    transform: scale(.5); 
    /* center center */
    transform-origin: top right; /* 改变压缩基点为右上角 */
    position: absolute;
    width: 750px;
    height: 1337px;
    right: 0;
    top: -140px;
}
.swing {
    position: absolute;
    left: 226px;
    top: -180px;
    width: 478px;
    height: 1038px;
    background: url(http://s5.music.126.net/static_public/5c21db8d4684556c72180904/swing.88545d6c8e1ac798465e367f8e5357ab.png);
    transform-origin: -16% -29%;/* 改变旋转基点 */
    animation: ani_qiuqian 6s ease-in-out infinite;
}
@keyframes ani_qiuqian {
    0% {
        transform: rotate(0);
    }
    50% {
        transform: rotate(30deg);
    }
    100% {
        transform: rotate(0);
    }
}
.leg2 {
    display: block;
    position: absolute;
    left: 185px;
    top: 958px;
    width: 130px;
    height: 32px;
    background: url(http://s5.music.126.net/static_public/5c21db8d4684556c72180904/leg2.d7bc44a91b6974450f2ccc430846c63d.png
    ) no-repeat;
    transform-origin: 91% 33%; /* 默认中间点旋转 */
    animation: ani_leg2 8s ease infinite;
}
@keyframes ani_leg2 {
    0% {
        transform: rotate(0);
    }
    25% {
        transform: rotate(-86deg);
    }
    50% {
        transform: rotate(0);
    }
    75% {
        transform: rotate(-86deg);
    }
    100% {
        transform: rotate(0);
    }
}
.leg2 .jiojio {
    display: block;
    position: absolute;
    background: url(http://s5.music.126.net/static_public/5c21db8d4684556c72180904/leg2-part.8f70bb7fc789a70bc78c48aa7718a765.png) no-repeat;
    left: -27.75px;
    top: -10.5px;
    width: 57px;
    height: 44px;
}
.leg1 {
    display: block;
    position: absolute;
    left: 290.375px;
    top: 955.25px;
    width: 63px;
    height: 130px;
    background: url(http://s5.music.126.net/static_public/5c21db8d4684556c72180904/leg1.b1df6a7d1a794d36fbd0e1277733e1cf.png) no-repeat;
    transform-origin: 17.8571428571429% 13.3653846153846%;
    animation: ani_leg1 8s ease infinite;
}
@keyframes ani_leg1 {
    0% {
        transform: rotate(0);
    }
    25% {
        transform: rotate(108deg);
    }
    50% {
        transform: rotate(0);
    }
    75% {
        transform: rotate(108deg);
    }
    100% {
        transform: rotate(0);
    }
}
.leg1 .jiojio {
    display: block;
    position: absolute;
    left: 26.25px;
    top: 102.5px;
    width: 39px;
    height: 62px;
    background: url(http://s5.music.126.net/static_public/5c21db8d4684556c72180904/leg1-part.f2f17703a6af8fd2af5e0f5a9f320623.png) no-repeat;
    transform-origin: 69.2307692307692% 23.3870967741935%;
}
.neck {
    display: block;
    position: absolute;
    left: 451.125px;
    top: 855.5px;
    width: 51px;
    height: 42px;
    background: url(http://s5.music.126.net/static_public/5c21db8d4684556c72180904/neck.07a0013beff9796ed79c2cea542e5af2.png) no-repeat;
    transform-origin: 23.0392156862745% 86.3095238095238%;
}
.head {
    display: block;
    position: absolute;
    left: 451.125px;
    top: 855.5px;
    width: 51px;
    height: 42px;
    background: url(http://s5.music.126.net/static_public/5c21db8d4684556c72180904/head.90bf892023d7df0522a4b53fc07e38df.png) no-repeat;
    transform-origin: 32.843137254902% 65.4761904761905%;
    animation: ani2_head 8s ease infinite;
}
@keyframes ani2_head {
    0% {
        transform: rotate(0deg);
    }
    
    25% {
        transform: rotate(-55deg);
    }
    62.5% {
        transform: rotate(-55deg);
    }
    87.92% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
.head .part {
    background: url(http://s5.music.126.net/static_public/5c21db8d4684556c72180904/head-part.22d4381c4bd6cb1c3afd2b1bfcfe22f1.png) no-repeat;
    left: 20px;
    top: 2px;
    width: 40px;
    height: 47px;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    display: block;
    position: absolute;
}

.paras {
    position: absolute;
    left: 10.67%;
    bottom: 110px;
    line-height: 1.6667;
    letter-spacing: 1px; /* 字间距 */
    color: #333;
    font-size: 16px;
}
.f-aniLineUp {
    opacity: 0;
    transform: translateY(6px);

}
.swiper-slide-active .f-aniLineUp {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 1.2s,transform 1s; /* 过渡属性、时间 */
}

.juan {
    position: absolute;
    right: 0;
    top: 0;
    width: 483px;
    height: 159px;
    transform: scale(.5);
    transform-origin: top right;
    background: url(http://s5.music.126.net/static_public/5c21db8d4684556c72180904/juan3.1c58874dbcd7f233bf027e9332ea6d96.png) no-repeat;
}
.z-juanAni {
    animation: juanAnimation 5s steps(1) reverse,/* steps(1)不匀速,分一步,数字是多少就分几步完成,直接跳到下一个动画位置 */
    juanAnimation 5s steps(1) 6s forwards; /* 6s表示延时 forwards 表示停在最后一帧动画 */
}
@keyframes juanAnimation1 {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: -1449px 0;
    }
}
@keyframes juanAnimation {
    0% {
		background-position: 0 0
	}

	3.70% {
		background-position: -483px 0
	}

	7.41% {
		background-position: -966px 0
	}

	11.11% {
		background-position: -1449px 0
	}

	14.81% {
		background-position: 0 -159px
	}

	18.52% {
		background-position: -483px -159px
	}

	22.22% {
		background-position: -966px -159px
	}

	25.93% {
		background-position: -1449px -159px
	}

	29.63% {
		background-position: 0 -318px
	}

	33.33% {
		background-position: -483px -318px
	}

	37.04% {
		background-position: -966px -318px
	}

	40.74% {
		background-position: -1449px -318px
	}

	44.44% {
		background-position: 0 -477px
	}

	48.15% {
		background-position: -483px -477px
	}

	51.85% {
		background-position: -966px -477px
	}

	55.56% {
		background-position: -1449px -477px
	}

	59.26% {
		background-position: 0 -636px
	}

	62.96% {
		background-position: -483px -636px
	}

	66.67% {
		background-position: -966px -636px
	}

	70.37% {
		background-position: -1449px -636px
	}

	74.07% {
		background-position: 0 -795px
	}

	77.78% {
		background-position: -483px -795px
	}

	81.48% {
		background-position: -966px -795px
	}

	85.19% {
		background-position: -1449px -795px
	}

	88.89% {
		background-position: 0 -954px
	}

	92.59% {
		background-position: -483px -954px
	}

	96.30% {
		background-position: -966px -954px
	}

	100.00% {
		background-position: -1449px -954px
	}

}